.optionButton {
  padding: 20px 30px;
  background-color: white;

  border: 1px solid gray;
  cursor: pointer;
  text-transform: capitalize;
  margin-right: 10px;

  background: #28282d;
  color: #f0f0f0;
  border-radius: 10px;

  width: 100px;
  height: 30px;
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.optionButton:hover {
  color: white;
  font-size: 14px;
}

.optionButton:active {
  background-color: #4a8be1;
  color: white;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 30px;
  gap: 20px;
}
